<div class="container p-3">
  <div class="row">
    <div class="col-md mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <div class="m-2">
              <a href="/empleados/listar">
                <button class="btn btn-primary btn-block">LISTAR</button>
              </a>
            </div>
            <div class="m-2">
              <a href="/empleados/buscar">
                <button class="btn btn-primary btn-block">BUSCAR</button>
              </a>
            </div >
            <div class="m-2">
              <a href="/empleados/listar">
                <button class="btn btn-primary btn-block">CREAR</button>
              </a>
            </div >
            <div class="m-2">
              <a href="/empleados/listar">
                <button class="btn btn-primary btn-block">ELIMINAR</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>