<main class="page">
  <section class="contact">
    <h2>Registro de nuevo proyecto</h2>

    <form action="">

      <div class="form-grupo dobleInput">
        <label for="proyectName">Nombre del proyecto</label>
        <input type="text" name="proyectName" id="proyectName" required />
      </div>

      <div class="form-grupo dobleInput">
        <label for="projectDescription">Descripcion del proyecto</label>
        <input
          type="text"
          name="projectDescription"
          id="projectDescription"
          required
        />
      </div>

      <div class="completeDoubleInputLine">
        <div class="form-grupo dobleInput">
          <label for="initDate">Fecha de inicio</label>
          <input type="date" name="initDate" id="initDate" required />
        </div>
        <div class="form-grupo dobleInput">
          <label for="endDate">Fecha de finalización</label>
          <input type="date" name="endDate" id="endDate" required />
        </div>
      </div>


      <div class="button">
        <button type="submit">Registrar</button>
      </div>
    </form>

  </section>
</main>