
header ul li a:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
}
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
team-1/style.css at master · Trycatch-tv/team-1