  <footer class="footer">
    <div class="footer-area-bottom">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="copyright text-center">
                <p>
                    &copy; Copyright <strong>PlanillaOnline</strong>. All Rights Reserved
                </p>
                </div>
            </div>

            <div class="credits">
              Designed by <a href="#">Llissor</a>
            </div>
    </div>
  </footer>
