{{!-- <div class="page">
  <nav class="navbar-container">
    <a class="navbar-marca" href="#">TryCatch</a>
    {{! <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> }}
    <div class="ul-container" >
      <ul class="navbar-ul">
        <li class="nav-item">
          <a class="nav-link" href="/empleados/as">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
</div> --}}

<header class="header">
  <a href="/" class="logo">logo</a>
  <ul>
    <li><a href="/" id="link_style">Home</a></li>
    <li><a href="/proyecto/nuevo" id="link_style">About</a></li>
    <li><a href="/proyecto/colaboradores" id="link_style">Work</a></li>
    <li><a href="/empleados/registro" id="link_style">Contact</a></li>
  </ul>
</header>
