<header class="header">
  <a href="/" class="logo">logo</a>
  <ul>
    <li><a href="/" id="link_style">Home</a></li>
    <li><a href="/empleados/registro" id="link_style">Registra un empleado</a></li>
    <li><a href="/empleados/lista" id="link_style">Lista de empleados</a></li>
    <li><a href="/proyecto/nuevo" id="link_style">Registra un proyecto</a></li>
    <li><a href="/proyecto/listaProyecto" id="link_style">Lista de proyectos</a></li>
    <li><a href="/proyecto/colaboradores" id="link_style">Acerca de nosotros</a></li>
  </ul>
</header>